.container {
  box-sizing: border-box;
  padding: 0 30%;
  > * {
    text-align: center;
  }
}
.title {
  box-sizing: border-box;
  color: rgba(45, 125, 66, 0.87);
  font-size: 72px;
  height: calc(42% - 56px);
  padding-top: 226px;
  > h1 {
    margin: 0;
  }
}
.search-input {
  height: 40px;
  margin: 16px 0;
  input {
    border-radius: 4px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px 8px;
    width: 512px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.56);
  }
}
.history {

}
